.alert{
    font-family: Lato;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    text-align: left
}

.alert-red{
    padding: 14px 18px 22px 18px;
}

.alert-blue{
    width: 53px;
    padding: 14px 18px;
}