.alert{
    font-family: Lato;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    text-align: left
}

.alert-red{
    padding: 14px 18px 22px 18px;
}

.alert-blue{
    width: 53px;
    padding: 14px 18px;
}
.alert-info{
    background:#B8DAFF;
    color: #042E72;
    text-align: center;
    display: inline-block;
}
    
.alert-cookie{
    background: #d8d8d8;
    color: #000;
    padding: 18px 26px;

    @include respond(phone){
        font-size: 16px;
        text-align: justify;
        padding: 10px;
    }
}