.btn-light{
    //background: #fff;
    //color:#000;
    border-radius: 0px;
    padding: 10px 25px;
}

.btn-dark{
    border-radius: 0;
    padding: 0 25px;
    //background: #000;
    //color:#fff;

}

.btn-cta{
    //background: #fff;
    //color:#000;
    border-radius: 50px 50px 50px 50px;
}

.event-btn{
    width: auto !important;
}

.btn-rsvp{
    width: auto;
    height: 44px;
    font-size: 20px;
    
}

.btn-news{
    width: auto;
    height: 44px;
    font-size: 20px;
    
}

.btn-reviews{
    width: auto;
}
.send-btn{
    width: auto;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
}
.btn-desc{
    margin-top: 26px;
    width: auto;
    height: 44px;
    padding: 11px 34px;
    //background-color: #fff;
    //border: 1px solid #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;    
}
.btn-gallery{
    @include position(absolute, 50%,null,null,50%);
    @include translate3d(-47.5%, -50%, 0);    
    z-index: 2; 
    width: auto;
    height: 44px;    
   // font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.btn-footer{
    width: auto;
    height: 37px;
   // font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 0px;
 
}
.btn-header{       
    width: auto;
    height: 31px;
    padding: 6px 16px 9px 16px;    
    //border: 1px solid #979797;
    //color: #696969;
   // font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;   
}
//.btn:hover{
//    //background: #7c7c7c;
//    //color:#fff;
//}

.btn-disabled{
    background: #ebebeb;
}

.btn-gallery-page{
    width: auto;
    height: 44px;
    font-size: 18px;
    line-height: 22px;
    
}

.btn-404{
    widows: auto;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 14px;

}

.btn:focus, .btn:active:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn{
    transition:all .5s ease-in-out;
}

.btn-send{
    width: auto;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
}