#theme-offcanvas {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 10%;
    right: 0;
    // background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;

    & a {
        padding: 8px 8px 8px 10px;
        text-decoration: none;
        
        line-height: 40px;
        //color: #000;
        display: block;
       transition: 0.3s;
    }

}