table{
    width: 100%
}
table, th, td {
    //border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px 21px;
    text-align: left;
}

dt{
    display: inline-block;
    width: 168px;
}
dd{
    display: inline-block;
    margin-left: 126px;
}