@import "./base/branding";

$global: 'theme';

$color-body-bg:         $color-white;
$color-header-bg:       $color-white;
$color-footer-bg:       $color-black;
$color-section-bg:       #F4F4F4;


$color-base:            #7C7C7C;
$color-brand:           $color-black;
