@import "theme/colors/default";

h1,
h2,
h3,
h4,
h5,
h6,
{
    color: $color-brand;
}

#theme-offcanvas {
    
    a{
        color: $color-base;

        &:hover{
            background: $color-brand;
            color: $color-white;
        }
    }
}

.card{        
    .card-content{
        a{
            color: $color-brand;

            text-decoration: none;        
            i{
                color:$color-brand;
            }
        }
    }
}

.owl-carousel .owl-nav button span i{    
    color:$color-brand;
}

.theme-header{
    .theme-logo{
        color: $color-brand;
    }

    a{  
        color: $color-base;   
        &:hover {
            text-decoration: none;
            color: $color-brand;
        }
    }

    .dropdown-content a:hover{
        background:$color-brand;
        color: $color-white;
    }

    .navbar-default {
        .navbar-nav>li>a:hover{
        color: $color-brand;
        }
    }
}

.theme-footer{
    a{
        &:hover {
            text-decoration: none;
            color: $color-brand;
        }
    }
    .footer-title{
        color: $color-brand;
    }
    .dropdown-menu>li>a:hover {
        color:$color-white;
        background: $color-brand;
    }
}



//.events-list{
//    li{
//        a{
//            //color: $color-base !important;
//            background: none !important;
//
//            &:hover{
//                color: $color-brand;
//                
//            }  
//        }  
//
//    }
//    .active{
//        a{
//            color: $color-white;            
//            border-bottom: 2px solid;
//        }
//    }
//}
//

//#theme-gallery-page{
//    .events-list{
//        li{
//            a{
//                color: $color-base;
//    
//                &:hover{
//                    color: $color-brand;
//                    
//                }  
//            }  
//    
//        }
//        .active{
//            a{
//                color: $color-white ;            
//                border-bottom: 2px solid;
//            }
//        }
//    }
//}


.btn:hover{
    background: $color-brand;
    color: $color-white;
}

.social{
    a{
        color:$color-base;

        &:hover{
            color:$color-brand;
        }
    }
}

.pull-left{
    a:hover{
        color:$color-brand;
    }
}

.theme-gallery-home__list:after {
    background-color: rgba(0,0,0,0.5);
}

.theme-owl-carousel {
    .owl-nav {
        button:hover{
            color: $color-brand;
        }
    }
}

table, th, td {
    border: 1px solid $color-border;
    border-collapse: collapse;
}