@import "theme/skin/light/vars";

body {
    background: $color-body-bg;
    color: $color-base;
}



.theme-main--content{
    border-top: 1px solid #eee;
}

.theme-section {
    .events-list {
        li {
            a{
                color: $color-base;
            }
        }
        .active{
            a{
                color: $color-black !important;
                border-bottom: 2px solid !important;
            }            
        }
    }
}

.theme-footer{

    background:$color-black;
    a{
        color: $color-base;
    }

    //.btn-footer{
    //   // background: $color-base;
    //   // color: #fff;       
    //    
    //}
}

.card{
    background: $color-section-bg;
    margin-bottom: 30px;

    &--light{
        background: $color-white;
    }
}

.theme-header{   
    background: $color-white; 

    .dropdown-content {
        background-color: $color-white;        
    }
    .dropdown-content a {
        color: $color-base;
        background: $color-white
    }
    .dropdown-content a:hover{
        background: #c4c4c4;
        color: $color-black;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .theme-logo{
        color: $color-base;

        &:hover{
            color: $color-black;
        }
    }
}

#theme-news-page{
    .social{
        a{
            color:$color-base;
        }
    }
    .btn-dark{    
        background: $color-base;        
        color: $color-white;

        &:hover{        
            background: $color-black;                        
        }
    }
        
}

#theme-gallery-page{

    .social{
        a{
            color:$color-base;
        }
    }

    .events-list{
        a{
            color: $color-base;            
        }
        .active{
            a{
                color: $color-black;
            }
        }
    }

    .gallery-thumb-info{
        background:  #F4F4F4;

        .btn-gallery-page{
            background: $color-base;
            color: $color-white;
            
            &:hover{
                background: $color-black;                
            }
        }
    }
    
    .btn-news{
        background: $color-base;
            color: $color-white;
            
        &:hover{
            background: $color-black;                
        }
    }    

}

#theme-contact-page{
    .btn-dark{
        background: $color-base;
            color: $color-white;
            
        &:hover{
            background: $color-black;                
        }
    }  
}