/*	===================================================================
	Color Variables [DEFAULT]
	=================================================================== */

	// Color Variables	
	$color-white: 	#fff;
	$color-black: 	#000;
	$color-primary: #7c7c7c;	
	$color-hover-link:#555;
	$color-brand:	#ff4e00;

	
	// Page Color Properties
	$base-color: 				
	$color-link: 				
	$color-link-hover: 			
	$color-visited: 			
	$color-active: 				
	$color-border:				
	$color-title:				
	$color-header:				
	$color-footer:				
	$color-short-info:			
	$color-article-wrap--desc:	
