/*	===================================================================
	Default Color Settings
	=================================================================== */

	@import 'variables';
	@import 'mixins';

	// Typography
    // Header Tags mixins
    
	a,
	.link-property {
		@include links($color-link, $color-visited, $color-link-hover, $color-active);
	}
	// -------------------------------------------------------------


	// Header
	.navbar-brand {
		a {
			&:hover {
				@include links(null, null, $color-link-hover, $color-active);
			}
		}
	}
	// -------------------------------------------------------------


	// Navigation
	.navbar-default {
		.navbar-nav {
			&>li {
					&>a {
						@extend .link-property;
					}
				&.active {
					a {
						color: $color-brand;
							&:hover {
								color: $color-brand;
							}
					}
				}
			}
			&>.open {
				&>a,
				&>a:hover,
				&>a:focus {
					@extend .link-property;
					color: $color-brand;
				}
			}
		}
	}

	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
		border-color: $color-link;
	}
	// -------------------------------------------------------------


	// Nav Slider
	#nav-slider {
		.navbar-nav {
			li {
				a {
					&:hover {
						color: $color-brand;
					}
					&.shop-now {
						&:hover {
							border-color: $color-brand !important;
							background: $color-brand;
							color: $color-white;
						}
					}
				}
				&.active {
					a {
						color: $color-brand;
							&:hover,
							&:focus {
								color: $color-brand;
							}
					}
				}
			}
		}
		.close {
			color: $color-brand;
				&:hover {
					color: $color-black;
				}
		}
	}
	// -------------------------------------------------------------


	// Titles
	.title {
		@at-root #{&}--lg {
			color: $color-title;
		}
		@at-root #{&}--sm {
			color: $color-brand;
		}
	}
	// -------------------------------------------------------------


	// Buttons
	.btn {
		&.btn-default {
			border-color: $color-brand;
			color: $color-link;
				&:hover {
					background: $color-brand;
					color: 		$color-white;
				}
		}
		&.btn-more {
			&:hover {
				color: $color-brand;
			}
		}
	}

	.shop-now {
		border-color: $color-brand;
		color: $color-brand;
			&:hover {
				background: $color-brand !important;
				color: 		$color-white !important;
			}
	}
	// -------------------------------------------------------------


	// Fixed Ecommerce Bar
	.bar-ecommerce {
		ul {
			li {
				a {
					@include links($color-link, $color-link, $color-brand, null);
				}
			}
		}
	}
	// -------------------------------------------------------------
