@import "./base/branding";

$global: 'theme';

$color-body-bg:         $color-white;
$color-header-bg:       $color-black;
$color-footer-bg:       $color-white;
$color-base:            #1A1919;

$color-brand:           $color-body-bg;
$color-section-bg:       #F4F4F4;

$border-color:#4d4c4c;

$color-anchor:#777;

$color-btn-hover: #7c7c7c;