
.errorWrap{
    
    & .errorWrap--head {
        margin-bottom: 10px;
        //  color:#000;

        & .big {
            font-family: Merriweather;
            font-size: 150px;
            margin-right: 10px;

            @include respond (phone){
                font-size: 75px;
            }

        }
        & .small{
            font-size: 40px;

            @include respond (phone){
                font-size: 20px;
            }

        }
    }

    & .errorWrap--info{
        & .title{
            font-size: 20px;
            margin-bottom: 40px;
            display: block;
            text-transform: none;

            @include respond (phone){
                font-size: 15px;
            }
        }
    }
}


