.theme-about-page{

    .cnt-title-about{
        margin-top: 57px;
        margin-bottom: 42px;
        line-height: 35px;
    }

    //.content-about-img{
    //    height: 608px;
    //    width: 100%;
    //    background-size: cover !important;
    //    background-position: center !important;
    //    background-repeat: no-repeat !important;
    //}
    
    dl{
        @include respond(tab-port){
            display: none;
        }
    }
}