.theme-footer {
    background: #000;
  //  height: 553px;
    padding-bottom: 45px;

    & .footer-title{
        padding: 45px 0px 22px 0px;
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        //font-size: 20px;
        @include font-size(2.8);
        text-transform: uppercase;
        color: #525252;
    }
    & .footer-body{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        //font-size: 18px;                    
        @include font-size(1.8);
        color: #FFFFFF;
        
        & .social-icons{
            padding-left: 0px;
            //width: 345px;
            //margin-bottom: 63px;

            @include respond(phone){
                margin-bottom: 0px;
            }

                li{
                list-style-type: none;
                display: inline-block;
                margin-right: 28px;
                
                a{
                    color: #fff;
                }

                i{
                    color: #fff;
                    width: 20px;
                    height: 17px;
                }
            }
        }
        & .link-list{
            list-style-type: none;
            padding-left: 0px;
            li{
                a{
                    font-family: Lato;
                    font-style: Regular;
                    @include font-size(1.8);
                    line-height: 40px;
                    color: #fff;
                }
            }
        }

    }
    @include respond(phone){
        & .p-l-100{
            padding-left: 15px;
        }
        & .p-l-0{
            padding-left: 15px;
        }
    }
    input{
        width:262px;
        height: 45px;
        padding: 10px;
    }
    hr {
        margin-top: 27px;
        margin-bottom: 30px;
        border-top: 1px solid #444;
    }
    .bottom-hr{
        @include respond(tab-port){
            margin-top: 60px;
        }
    }

    @include respond(phone){
    .left{
        display: block;
        //text-align: center;
    }
    .right{
        float: none !important;
        display: block;
        //text-align: center;
        margin-top: 20px;
    }
    }
}

