footer {
    background: #000;
  //  height: 553px;
    padding-bottom: 45px;

    & .footer-title{
        padding: 45px 0px 22px 0px;
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        font-size: 20px;
        text-transform: uppercase;
        color: #525252;
    }
    & .footer-body{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 18px;                    
        color: #FFFFFF;
        
        & .social-icons{
            padding-left: 0px;
            margin-bottom: 63px;
                li{
                list-style-type: none;
                display: inline;
                margin-right: 28px;
                
                a{
                    color: #fff;
                }

                i{
                    color: #fff;
                }
            }
        }
        & .link-list{
            list-style-type: none;
            padding-left: 0px;
            li{
                a{
                    font-family: Lato;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 40px;
                    color: #fff;
                }
            }
        }
    }
    input{
        width:262px;
        height: 45px;
        padding: 10px;
    }
    hr {
        margin-top: 27px;
        margin-bottom: 30px;
        border-top: 1px solid #444;
    }
    .btn-footer{
        width: 106px;
        height: 37px;
        background-color: #ffffff;
        border:none;
        color: #000000;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

