#theme-gallery-page{

    .nav{
        li{
            a{
                display: inline;
            }
        }
    }

    .gallery-thumb{
        position: relative;
        img{
            width: 70%;
            height: 440px;

            @include respond(tab-port){
                width: 100%;
            }
        }

        & .gallery-thumb_info{
            width: 555px;
            height: 250px;
            background: #000;
            position: absolute;
            top: 22%;
            right: 0%;

            @include respond(tab-port){
                position: relative;
                width: 100%;
            }
            
            h4{
                color:#fff;
            }

            .left-box{
                left: 0% !important;
            }           
        }
        .gti-left{
            left: 0%;
        }
        .p-l-100{
            padding-left: 50px;
        }
    }
    .gallery-album-thumbs{
        a{
            img{
                margin-bottom: 30px;
                width: 100%;
                height: 360px;
            }
        }
        
    }

    .grid-wrap {
        .grid-item {
            position: relative;     
            width: 33.333333%;
            padding: 0 15px;
            transition: all .5s ease-in-out;

            @include respond(tab-port) {
                width: 50%;
                
            }
            @include respond(phone) {
                width: 100%;
                filter: brightness(90%);
                padding: 0 0;
            }
            .grid-item__thumb{
                margin-bottom: 30px;
            }
                  
            img {
                display: block;
                width: 100%;
                height: 100%;
                transition: all .5s ease-in-out;
            }

            & .after-2{
                z-index: 99;
                position: absolute;
                top: 0%;
                left: 4%;
                width: 92%;
                height: 87%;
                display: none;        
              //  border: 4px solid #fff;
              @include respond(phone){
                width: 100%;
                left: 0%;
                height: 100%;
                }
            }

            & .after{
                z-index: 5;
                position: absolute;
                top: 9%;
                left: 13%;
                width: 75%;
                height: 70%;
                display: none;        
                border: 6px solid #fff;

                @include respond(phone){
                    width: 88%;
                    left: 6%;
                    height: 83%;
                }
            }

            p{
                position: absolute;
                bottom:66px;
                left: 58px;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
            }

            & :hover .after-2{
                display: block;
                background: rgba(0, 0, 0, .6);
                transition: all .5s ease-in-out;
                //filter: brightness(50%);
               
            }

            & :hover .after{
                display: block;
               background: rgba(0, 0, 0, .5);
               transition: all .5s ease-in-out;
            }

            //& :hover img{
            //   filter: brightness(30%);                              
            //}
        }
    }
}
