
.theme-header{
    padding:28px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    & .theme-logo{
    //  color: #000000;
    font-family: Lato;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
   // margin-right: 490px;
    display: inline;
    }
//    a{
//        color: #000;
//    }
    //@include respond(phone){
    //    margin-right: 0px;
    //}
    

    // .container-fluid{
        // padding-left: 0px;
        // padding-right: 0px;
    // }
    // .navbar-default{
    //     background-color:transparent;
    //     border: none;
    //    // padding: 27px 0px 28px 0px;

    //    .navbar-collapse{
    //        border: none;
    //    }
    // }
    // .navbar{
    //     margin-bottom: 0px;
    // }

    .top-nav{   
        display: table;
        width: 100%; 

        &--left{
            display: table-cell;
            vertical-align: middle;
        }

        &--right{
            display: table-cell;
            vertical-align: middle;   
            text-align: right; 

            ul{          
                display: inline;
                list-style-type: none;
                
                li{
                    display: inline;
                    padding: 0 10px;
                    a{
                        font-family: Lato;                        
                        font-weight: 400;
                        line-height: 16px;

                        i{
                            font-size: 16px;
                        //    color: #000000;
                        }
                    }
                }
            }
            .nav-button {  
                padding-top: 8px;
                padding-bottom: 0px;
                // padding-right: 15px;
                @include respond(phone){
                    padding-left: 10px;
                } 
            }
            .cart {                
                a{
                    padding-left: 0px;
                    @include respond(phone){
                        padding-left: 12px;
                    }

                    i{
                        padding-left: 10px;
                        border-left: 1px solid #979797;
                    }
                }
            }

            .user{
                a{   
                    padding-right: 5px;                
                    
                    i{
                        padding-right: 10px;
                        border-right: 1px solid #979797;
                    }    
                }
                
            }
        
        }
    }

    // .navbar-right {
    //     float: right;
    // }

    // .navbar-nav>li{
    //     float: left ;
    // }
    // .navbar-collapse.collapse {
    //     display: block;
    //     padding-left: 0px
    // }
    .dropdown{
        position: relative;        

        .dropdown-content {
            padding-top: 40px;
            margin-top: -7px;
            display: none;
            position: absolute;            
            left: 0%;
            width: 127px;
        //    background-color: #fff;
            z-index: 999;
        }
        .dropdown-content a {
        //    color: #000;
        //    background: #fff;
            padding: 12px 16px;
            font-size: 14px;
            text-decoration: none;
            display: block;
            text-align: left;

        }
        //.dropdown-content a:hover{
        //    background: #c4c4c4;
        //}
        .dropdown:hover .dropdown-content {
            display: block;
        }
    }
}
.theme-wrap{
    min-height: 100%;
}