#theme-news-page {
    .card{
        margin-right: 0px;
        margin-bottom: 10px;
        & .card-content{
            background: #f7f7f7;
        }
    }
    .social{
        li{
            i{
                color:#7c7c7c;
            }
        }
    }


}