#theme-news-page {
    .card{
        margin-right: 0px;
        margin-bottom: 10px;
        //& .card-content{
        //    background: #f7f7f7;
        //}

        @include respond(phone){
            margin-left: 0px;    
        } 
    }
    .social{
        li{
            //i{
            //    color:#7c7c7c;
            //}
        }
    }


}